/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* .list {
    list-style-type: none;
}

.link {
    text-decoration: none;
} */

button {
    cursor: pointer;
    display: block;
}

.button:hover,
.button:focus {
    background: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ============== /COMMON STYLES =============== */



/* ============== MOBILE STYLES ============ */

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 320px;
    }
}

@media screen and (max-width: 1157px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
} */

/* header */

.menu {
    display: none;
}

.page-contacts {
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn-menu {
    display: flex;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}
.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: #4D5AE5;
}

.logotype-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.page-nav {
    display: flex;
    align-items: center;
}

.page-header {
    min-width: 320px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #fff;
    transform: translateX(100%);
    transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    transform: translateX(0%);

}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    padding: 0px;
    cursor: pointer;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: -72px;
}

.mobile-menu-container {
    position: relative;

}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    fill: #fff;
    border: none;
    background-color: #404bbf;
}

.mobile-menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
    margin-bottom: 168px;
}

.mobile-menu-item {}

.mobile-menu-item:last-child {
    padding-bottom: 0;
}

.mobile-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 0;
}

.social-list-item {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #404bbf;
}

.mobile-nav-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: capitalize;
}

.mobile-nav-link.active {
    color: #404bbf;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
    color: #404bbf;
}

.menu-contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mobile-menu {
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.address-mobile-menu-list {
    margin-bottom: 48px;
}

.address-mobile-list-item {
    padding-bottom: 24px;
}

.address-mobile-list-item:last-child {
    padding-bottom: 0px;
}

.address-list-item:last-child {
    margin-right: 0px;
}

/* main */

.name-our-team-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.page-hero {
    /* display: flex; */
    padding-top: 72px;
    padding-bottom: 72px;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    margin: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/po.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
}


@media screen and(min-resolution:192dpi),
screen and(min-resolution: 2dppx),
screen and(min-device-pixel-ratio:2) {
    .page-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/po-mobile@2x.jpg);
    }
} 

.name-hero-section {
    width: 100%;
    max-width: 180px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    font-style: normal;
    text-transform: capitalize;
    margin-left: auto;
    margin-bottom: 72px;
    margin-right: auto;
    color: #ffffff;
}

.order-but {
    color: #ffffff;
    background-color: #4d5aE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* feature */

.feature-item-container {
    display: none;
}

.menu-feature {
    display: block;
}

.name-feature {
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 72px;
    margin-bottom: 8px;
}

.description-feature {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* team */

.page-our-team {
    background-color: #f4f4fd;
}

.menu-our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.name-our-team {
    font-size: 20px;
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.menu-our-team-item {
    background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.caption-our-team {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    gap: 24px;
    margin-top: 8px;
}

.social-list-item {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

/* portfolio */

.name-our-portfolio {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-our-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.product-portfolio {
    position: relative;
    overflow: hidden;
}

.caption-our-portfolio {
    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.title-foto {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.menu-our-portfolio-item {
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-our-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.menu-our-portfolio-item:hover .details-our-portfolio,
.menu-our-portfolio-item:focus .details-our-portfolio {
    transform: translateY(0%);
}

.details-our-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    background-color: #4d5aE5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}


/* footer */

.page-footer {
    background-color: #2e2f42;
    color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.logo-footer-container {
    display: flex;
    flex-direction: column;
}

.logotype-footer {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.logotype-span-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--CLOUD, #F4F4FD);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.name-social-media {
    font-weight: 500;
    margin-bottom: 16px;
    color: #ffffff;
}

.menu-social-footer {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.descrption-footer {
    width: 100%;
    max-width: 264px;
    color: #ffffff;
}

.name-subscribe {
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-email-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.form-subscribe-input {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    padding-left: 16px;
    letter-spacing: 0.04em;
}

.form-subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.subscribe-icon {
    margin-left: 16px;
}

/* form */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250mscubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    min-width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 16px;
}

.modal-close-btn-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    padding: 0px;
    cursor: pointer;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus {
    fill: #fff;
    border: none;
    background-color: #404bbf;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-label {
    width: 100%;
    height: 58px;
    margin-bottom: 8px;
}

.form-input-wrapper {
    position: relative;
}

.description-form-review {
    margin-bottom: 16px;
    width: 256px;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-field-label {
    display: block;
    margin-top: 16px;
    padding-bottom: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-field-input {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-bottom: 8px;
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    background-color: transparent;
        utline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}

.form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ============== /MOBILE STYLES ============== */


/* ================= TABLET STYLES =========== */

/* @media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

/* header */

/* @media screen and (min-width: 768px) {
    .page-nav {
        display: flex;
        align-items: center;
    }

.logotype {
    margin-right: 120px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    color: #2e2f42;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current::after {
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.page-contacts {
    margin-left: auto;
    font-style: normal;
}

.menu-contact-item {
    text-transform: lowercase;
    color: currentColor;
    transition-property: color;
    transition-duration: 2500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn-menu {
    display: none;
}

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .menu-contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .menu-contact-item {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
    }
}  */




/* main */
/* feature */
/* team */
/* portfolio */
/* footer */
/* form */

/* ================= /TABLET STYLES =========== */




/* ==================== DEKSTOP ============== */

/* @media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.page-nav {

}

/* header */

/* @media screen and (min-width: 1158px) {
    .logotype {
        margin-right: 76px;
    }

    .menu-contacts {
        display: flex;
        gap: 40px;
    }

    .menu-contact-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }
} */ 

/* main */
/* feature */
/* team */
/* portfolio */
/* footer */
/* form */

/* ==================== /DEKSTOP ============== */
